<%
  const { post, canEditPost, canDeletePost } = locals;
%>

<section class="post-detail">
    <!-- Title -->
    <%- include('../../elements/heading', 
        {
            level: 1,
            variant: 'main',
            heading: post.title
        }
    )%>
    
    <div class="post-detail__author-profile">
        <img class="profile__image" src="/assets/profile-placeholder.png" alt="<%= post.author %>'s profile picture" >
        <div class="profile__info">
            <a class="profile__name post__link" href=<%= `/profiles/${post.author}` %> > @<%= post.author %> </a>
            <div class="post-creation-dates">
                <span class="post-detail__date"> Created <%= post.createdAtRelative %> </span>
                <% if (post.updatedAtRelative) { %>
                    <span class="post-detail__date">• Updated <%= post.updatedAtRelative %> </span>
                <% } %>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="post-detail__content">
        <p><%= post.content %></p>
    </div>

    <!-- Actions -->
    <% if (canEditPost || canDeletePost) { %>
        <div class="post-detail__actions">
            <% if (canEditPost) { %>
                <a href="/posts/<%= post.id %>/edit" class="btn btn--secondary" >Edit</a>
            <% } %>

            <% if (canDeletePost) { %>
                <form action="/posts/<%= post.id %>/delete" method="POST" >
                    <%- include('../../elements/button', 
                        {
                            type: 'submit',
                            variant: 'danger',
                            label: 'Delete'
                        }
                    )%>
                </form>
            <% } %>
        </div>
    <% } %>
</section>