<%
  const { post, canEditPost, canDeletePost } = locals;
%>

<section class="post-detail">
    <!-- Title -->
    <%- include('../../elements/heading', 
        {
            level: 1,
            variant: 'main',
            heading: post.title
        }
    )%>

    <!-- Meta -->
    <div class="post-detail__meta">
        <span class="post-detail__author">
            <strong>@<%= post.author %></strong>
        </span>
        <span class="post-detail__date"> Created <%= post.createdAtRelative %> </span>
        <% if (post.updatedAtRelative) { %>
            <span class="post-detail__date"> Updated <%= post.updatedAtRelative %> </span>
        <% } %>

    </div>

    <!-- Content -->
    <div class="post-detail__content">
        <p><%= post.content %></p>
    </div>

    <!-- Actions -->
    <% if (canEditPost || canDeletePost) { %>
        <div class="post-detail__actions">
            <% if (canEditPost) { %>
                <a href="/posts/<%= post.id %>/edit" class="btn btn--secondary" >Edit</a>
            <% } %>

            <% if (canDeletePost) { %>
                <form action="/posts/<%= post.id %>/delete" method="POST" >
                    <%- include('../../elements/button', 
                        {
                            type: 'submit',
                            variant: 'danger',
                            label: 'Delete'
                        }
                    )%>
                </form>
            <% } %>
        </div>
    <% } %>
</section>