<!DOCTYPE html>
<html lang="en">
    <%- include('../../meta/head', {title: post.title}) %>
    <body>
        <%- include('../../layout/header') %>
        <main>
            <h3><%= post.title %></h3>
            <p><%= post.author %></p>
            <p><%= post.createdAt.toDateString() %></p>
            <p><%= post.updatedAt.toDateString() %></p>
            <p><%= post.content %></p>
            <% if(canEditPost){ %>
                <a href=<%= `/posts/${post.id}/edit` %> >Edit</a>
            <% } %>
            <% if(canDeletePost){ %>
                <form action=<%= `/posts/${post.id}/delete` %> method="POST">
                    <button type="submit" >Delete</button>
                </form> 
            <% } %>
        </main>
        <%- include('../../layout/footer') %>
    </body>
</html>