<%
  const { posts = [], user, previewLength = 50 } = locals;
%>

<section class="posts">
    <%- include('../elements/heading', 
        {
            level: 2,
            variant: 'section',
            heading: 'Posts'
        }
    ) %>

    <% if (posts.length === 0) { %>
        <p class="posts__empty">No posts yet...</p>
    <% } 
    else { %>
        <ul class="posts__list">
            <% posts.forEach(post => { %>
                <li class="post">
                    <% if (user) { %>
                        <a href="/posts/<%= post.id %>/details" class="post__link">
                            <%- include('../elements/heading', 
                                {
                                    level: 3,
                                    variant: 'item',
                                    heading: post.title
                                }
                            )%>
                        </a>
                    <% } 
                    else { %>
                        <%- include('../elements/heading', 
                            {
                                level: 3,
                                variant: 'item',
                                heading: post.title
                            }
                        )%>
                    <% } %>

                    <p class="post__content">
                        <%= post.content?.length > previewLength 
                            ? `${post.content.slice(0, previewLength)}...` 
                            : post.content 
                        %>
                    </p>

                    <div class="post__meta <%= !user ? 'post__meta--restricted' : '' %>">
                        <span class="post__author">
                            <%= user ? post.author : 'Hidden' %>
                        </span>

                        <span class="post__date">
                            <% const displayDate = post.updatedAtRelative || post.createdAtRelative; %>
                            <%= user ? displayDate : '---' %>
                        </span>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } %>
</section>