<section>
    <h2>Posts</h2>
    <ul>
        <% 
            posts.forEach(post => {%>
                <li>
                    <h3><%= post.title %></h3>
                    <p> 
                        <%= 
                            locals.username === post.username
                            ? post.username 
                            : 'Anonymous' 
                        %>
                    </p>
                    <p>
                        <%= 
                            post.content?.length > (locals.previewLength || 50)
                            ? `${post.content.slice(50)}...`
                            : post.content
                        %>
                    </p>

                    <p>
                        <%= 
                            post.updatedAt ? post.updatedAt.toDateString() : post.createdAt.toDateString()
                        %>
                    </p>

                    <a href="<%= `/posts/${post.id}/details`%>">View</a>
                </li>
            <%});
        %>
    </ul>
</section>