<!DOCTYPE html>
<html lang="en">
    <%- include('../meta/head') %>
    <body>
        <%- include('../layout/header') %>
        <main class="content">
            <%- include(`../sections/${locals.user?  'hero-section-logged-in' : 'hero-section-logged-out'}`) %>
            <%- include('../sections/posts') %>
        </main>
        <%- include('../layout/footer') %>
    </body>
</html>