<%
  const { errors = [], username } = locals;
%>

<section class="centered-container">
    <!-- Heading -->
    <%- include('../elements/heading', 
        {
            level: 1,
            variant: 'section',
            heading: 'Login'
        }
    )%>

    <!-- Error box -->
    <%- include('../elements/error-box', { errors }) %>

    <!-- Form -->
    <form class="form" action="/login" method="POST">
        <div class="form__group">
            <%- include('../elements/form/input', 
                {
                    name: 'username',
                    label: 'Username',
                    value: username,
                    required: true
                }
            )%>
        </div>

        <div class="form__group">
            <%- include('../elements/form/input', 
                {
                    name: 'password',
                    type: 'password',
                    label: 'Password',
                    required: true
                }
            )%>
        </div>

        <div class="form__actions">
            <%- include('../elements/button', 
                {
                    type: 'submit',
                    variant: 'primary',
                    label: 'Login'
                }
            )%>
        </div>
    </form>

    <!-- Alternate action -->
    <p class="auth__alternate">
        Not a member?
        <a href="/signup" class="auth__link">Sign up</a>
    </p>
</section>