<!DOCTYPE html>
<html lang="en">
    <%- include('../meta/head') %>
    <body>
        <%- include('../layout/header') %>
        <main>
            <%- include('../elements/errorBox') %>
            <form action="/login" method="POST">
                <%- include('../elements/inputs/text-input', 
                    {
                        name: 'username', 
                        label: 'Username', 
                        required: true
                    }
                )%>

                <%- include('../elements/inputs/password-input', 
                    {
                        name: 'password', 
                        label: 'Password', 
                        required: true
                    }
                )%>
                
                <%- include('../elements/inputs/submit-button', 
                    {
                        label: 'Login'
                    }
                )%>

            </form>
            <p>Not a member? - <a href="/signup">Sign up</a></p>
        </main>
        <%- include('../layout/footer') %>
    </body>
</html>