<%
  const { profileUser, canCreatePost, canBecomeMember } = locals;
%>

<section class="profile">
    <!-- Header -->
    <div class="profile__header">
        <img class="profile__image" src="/assets/profile-placeholder.png" alt="<%= profileUser.username %>'s profile picture" >
        <div class="profile__info">
            <p class="profile__name"> @<%= profileUser.username %> </p>
            <div class="profile__roles">
                <% profileUser.roles.forEach(role => { %>
                    <span class="badge badge--role">
                        <%= role %>
                    </span>
                <% }) %>
            </div>
        </div>
    </div>

    <!-- Actions -->
    <section class="profile__actions">
        <%- include('../elements/heading', 
            {
            level: 2,
            variant: 'section',
            heading: 'Actions'
            }
        )%>

        <div class="profile__actions--list">
            <% if (canCreatePost) { %>
                <a href="/posts/create" class="btn btn--primary">New post</a>
            <% } %>

            <% if (canBecomeMember) { %>
                <a href="/membership/join" class="btn btn--secondary">Become a member</a>
            <% } %>
        </div>
    </section>

    <!-- Posts -->
    <%- include('../sections/posts') %>
</section>