<%
  const { errors = [], username } = locals;
%>

<section class="centered-container">
    
    <!-- Heading -->
    <%- include('../elements/heading', 
        {
            level: 1,
            variant: 'section',
            heading: 'Create account'
        }
    )%>

    <!-- Errors -->
    <%- include('../elements/error-box', { errors }) %>

    <!-- Form -->
    <form class="form" action="/signup" method="POST">
        <div class="form__group">
            <%- include('../elements/form/input', 
                {
                    name: 'username',
                    label: 'Username',
                    value: username,
                    required: true
                }
            )%>
        </div>

        <div class="form__group">
            <%- include('../elements/form/input', 
                {
                    name: 'password',
                    type: 'password',
                    label: 'Password',
                    required: true
                }
            )%>
        </div>

        <div class="form__group">
            <%- include('../elements/form/input', 
                {
                    name: 'confirmPassword',
                    type: 'password',
                    label: 'Confirm password',
                    required: true
                }
            )%>
        </div>

        <div class="form__actions">
            <%- include('../elements/button', 
                {
                    type: 'submit',
                    variant: 'primary',
                    label: 'Sign up'
                }
            )%>
        </div>

    </form>

    <!-- Alternate -->
    <p class="auth__alternate">
        Already a member?
        <a href="/login" class="auth__link">Login</a>
    </p>
</section>