<!DOCTYPE html>
<html lang="en">
    <%- include('../meta/head') %>
    <body>
        <%- include('../layout/header') %>
        <main>
            <%- include('../elements/errorBox') %>
            <form action="/signup" method="POST">
                <%- include('../elements/inputs/text-input', 
                    {
                        name: 'username', 
                        label: 'Username', 
                        required: true
                    }
                )%>

                <%- include('../elements/inputs/password-input', 
                    {
                        name: 'password', 
                        label: 'Password', 
                        required: true
                    }
                )%>

                <%- include('../elements/inputs/password-input', 
                    {
                        name: 'confirm-password', 
                        label: 'Confirm Password', 
                        required: true
                    }
                )%>
                
                <%- include('../elements/inputs/submit-button', 
                    {
                        label: 'Sign Up'
                    }
                )%>
                
            </form>
            <p>Already a member? - <a href="/login">Login</a></p>
        </main>
        <%- include('../layout/footer') %>
    </body>
</html>